<div class="preview__header">
  <script type="application/json" id="preview-current">
    {{ current|json_encode|raw }}
  </script>
  <h2 class="header__heading">
    <span class="material-symbols-outlined heading__icon">{{current.icon}}</span>
    <span class="heading__name">{{current.name}}</span>:
    <span class="heading__handle">{{current.handle}}</span>
  </h2>
  <div class="header__size">
    <span class="size__width">0</span>
    <span>×</span>
    <span class="size__height">0</span>
    <span class="size__unit">px</span>
  </div>
  <div class="header__actions">
    {% include 'controls/button' with {
      icon: 'open_in_new',
      href: iframeUrl,
      target: '_blank'
    } %}
    {% include 'controls/button' with {
      class: 'preview__enter-full-btn',
      icon: 'fullscreen',
      href: '#fullscreen'
    } %}
    {% include 'controls/button' with {
      class: 'preview__exit-full-btn',
      icon: 'fullscreen_exit',
      href: '#fullscreen-exit'
    } %}
  </div>
</div>
<div class="preview__container">
  <iframe id="preview-iframe" marginwidth="0" frameborder="0" scrolling="yes" src="{{iframeUrl}}"></iframe>
  <div id="split-preview-resize" class="resize"></div>
</div>
