{% set id_attr = id|default ? 'id="' ~ id ~ '"' : ''  %}
<a {{id_attr}} class="button {{class|default('')}}" href="{{href}}" target="{{target|default('_self')}}">
  {% if icon %}
    <span class="button__icon material-symbols-outlined">{{icon}}</span>
  {% endif %}
  {{label|default}}
</a>
