{% set align_class = align|default ? 'switch--' ~ align : ''  %}
{% set small_class = small|default ? 'switch--small' : ''  %}
<div class="switch {{small_class}} {{align_class}} {{class|default}}">
  <label class="switch__label">
    {% set checked_attr = checked|default ? 'checked' : '' %}
    <input type='checkbox' class='switch__input' {{checked_attr}} />
    <span class='switch__track'>
      <span class='switch__handle'></span>
    </span>
    {{label|default('')}}
  </label>
</div>
