<div class="tabs">
  <div class="tabs__container">
    {% for tab in tabs %}
      {% set name = 'tab-' ~ loop.index %}
      {% set checked_attr = loop.first ? 'checked' : '' %}
      <input id="{{name}}" class="tabs__input tabs__input-{{loop.index}}" type="radio" name="tabs" value={{loop.index}} {{checked_attr}} >
      <label for="{{name}}" class="tabs__label">{{ tab.label }}</label>
    {% endfor %}
    {% for tab in tabs %}
      <section class="tabs__pane tabs__pane-{{loop.index}}">
        <div class="tabs__pane-control">
          {% if tab.switch|default %}
            {% include 'component-library/controls/switch.twig' with {
              label: tab.switch.label|default('Label'),
              align: 'left',
              small: true,
              checked: true
            } %}
          {% endif %}
        </div>
        <div class="code">
          <pre>
            <code class="language-html">
            </code>
          </pre>
        </div>
      </section>
    {% endfor %}
  </div>
</div>
