<details open class="sidebar__details sidebar__details--expanded level-{{level}}" style="--level:{{level}}">
  <summary>
    <div class="summary__wrapper parent-spacer">
      <span class="material-symbols-outlined icon-arrow-right">arrow_right</span>
      <span class="material-symbols-outlined icon-folder"></span>
      <span class="summary__caption">{{name}}</span>
    </div>
    {% if level == 0 %}
    <button class="collapse-expand-button">
      <span class="material-symbols-outlined icon-collapse-expand"></span>
    </button>
    {% endif %}
  </summary>
  <ul class="sidebar__list">
    {% if not nodes %}
      <li class="list__item list__empty">
        <span class="child-spacer">empty</span>
      </li>
    {% endif %}
    {% for node in nodes %}
      <li class="list__item list__item--{{node.type}}">
        {% if node.type == 'file' %}
          <a class="child-spacer" href="{{node.preview_url}}">
            <span class="material-symbols-outlined icon-file">draft</span>
            {{ node.name }}
          </a>
        {% endif %}
        {% if node.type == 'directory' %}
          {% include 'component-library/partials/recursive_dir.twig' with node %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</details>
